@page "/index"

<button @onclick="addItem">Добавить новый вопрос</button>
@foreach (var item in @ToDoList.Select((value, i) => new { i, value }))
{
    <br>
    <br>

    <p> @(item.i + 1)<input @bind=@Title[item.i] placeholder="Вопрос" />
        <div>
            @item.value <button @onclick="(()=>removeItem(item.value, item.i))">Удалить</button>
        </div>
    </p>
    
}

<br>
<br>



@code {
    List<String> Title = new List<string>() { "", "", "", "" };
    string newItem = "";
    List<string> ToDoList = new List<string>() {"","","",""};

    private void removeItem(string item, int number)
    {
        
        if (item == "")
        {
            ToDoList.Remove(item);    
            Title.RemoveAt(number);
        }
    }
    private void addItem()
    {
        ToDoList.Add(newItem);
        Title.Add("");
        newItem = "";
    }

}